
@import './../../colors.scss';
.BookmarkWrapper {
    display: flex;

    &__item {
        width: 150px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        transition: 0.5s;


        &:hover {
            font-size: 1.1em;
            cursor: pointer;
        }

        &.active {
            background-color: darken($mainColor4, 6%);
            cursor: pointer;
            border-bottom: chartreuse solid 1px;
        }

        &.active:hover {
            font-size: 1em;
        }
    }



}