@import '../../colors.scss';

.ExpenseHistoryItem {

    display: flex;
    &-item{
        width: 25%;
        text-align: center;
        line-height: 50px;
        height: 50px;
    }
    
    &-item.price{
        font-size: 1.5em;
    }
    &-item.action{
        font-size: 1.5em;

        :hover {
            cursor: pointer;
            color: darken($fontColor1, 20%);
        }
    }
    
    &-item.label {
        font-weight: 700;
        color: $mainColor1;
    }
}

