@import '../../colors.scss';

.ExpenseHistoryItem {

    display: flex;
    &-item{
        width: 25%;
        text-align: center;
        height: 50px;
    }
    
    &-item.price{
        font-size: 1.5em;
    }
    &-item.action{
        font-size: 1.5em;

        :hover {
            cursor: pointer;
            color: darken($fontColor1, 20%);
        }
    }
    
    &-item.label {
        font-weight: 700;
        color: $mainColor1;
    }

    :nth-child(3) {
        color: $mainColor1;
    }
}


@media (max-width: 690px) {
    .ExpenseHistoryItem {
        flex-wrap: wrap;
        flex-direction: flex-start;

        :first-child, :nth-child(2) {
            width: 100%;
        }
        &-item{
            text-align:left;
            height: 10px;
        }
        
        &-item.price{
            font-size: 1.0em;
        }
        &-item.action{
            font-size: 1.0em;
        }
        
        &-item.label {
            display: none;
        }
    }
}

