@import '../../colors.scss';

.plate {
    &__info{
        min-width: 400px;
        min-height: 140px;
        background-color: $mainColor4;
        box-shadow: 0px 0px  16px $mainColor1;
        margin-top: 20px;
        padding: 10px;
        min-width: 20vw;
        span{
            display: block;
        }
        Span:nth-child(1){
            font-size: 3em;
        }
    }
}
