@import '../../../../colors.scss';

.modalWrapper {
    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);

    &__window {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: $mainColor4;
        min-width: 30vw;
        min-height: 30vh;
        box-shadow: 0px 0px 16px $mainColor4;
        padding: 10px;
        color: $fontColor1;
        animation: modalAnimation 1s;

    }

    @keyframes modalAnimation {
        from{
            top:-70%;
        }

        to {
            top: 10%;
        }
        
    }

    &__close {
        font-size: 2em;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}