@import '../../colors.scss';


.AddBudgetWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 300px;
    width: 340px;
    padding-left: 20px;
    padding-right: 20px;


    input{
        height: 50px;
        color: $mainColor4;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        input {
            margin-bottom: 20px;;
        }
    }

}