@import './../../colors.scss';

.detailsWrapper{
    padding: 30px;
    display: flex;
    flex-direction: column;

    color: $fontColor1;
    
    h2 {
        color: $mainColor1;
    }
    div {
        margin-bottom: 20px;
    }







    

}